{% load django_vite %}
{% load static %}
<html data-theme="forest" lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Login</title>
    {% vite_hmr_client %}

    <link rel="stylesheet" href="{% vite_asset_url 'static/css/global.css' %}" />
  </head>
  <body>
    <form method="post">
      <div class="flex justify-center items-center h-screen">
        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
          <legend class="fieldset-legend">Login</legend>
          <label class="label mt-2">
            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
              </g>
            </svg>Email
          </label>
          {{ form.email }}
          <label class="label mt-2">
            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                <path d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"></path>
                <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
              </g>
            </svg>Senha
          </label>
          {{ form.password }}
          {% if form.non_field_errors %}
            <div class="text-error">
              {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
          <button class="btn btn-neutral mt-4">Login</button>
          <p class="mt-3 text-center">
            Não possui uma conta? <a href="{% url 'accounts:register' %}" class="text-blue-400 underline">Cadastre-se</a>
          </p>
        </fieldset>
      </div>
    </form>
  </body>
</html>
